# Learning Python


## 1 - Python Types

Welcome to Learning Python. Here, we will learn the basics of python in a convenient notebook format.

Python, like most languages, has types. As a dynamic language, Python has "duck typing‚Äù, which means that variable types can be inferred by their usage and don't have to be declared.

<img src="../assets/images/duck-typing.jpg" />

## 2 - Declaring Variables

In language like Java, we will declare types excplicitly

```java
int i = 10;
```

But in Python, we don't need to declare types expclitly

```python
i = 10
```

Oh, and no need for ; either

In [1]:
## Declare a few variables and print their types

a = 10
b = 3.14
c = "hi"

print (type(a))
print (type(b))
print (type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [2]:
## now reassign a

a = "hello world"  # <-- this would be error in compiled languages like Java!

print (type(a))

<class 'str'>

## 3 - Strings

### 3.1 - Defining Strings

We all know what strings are.  We can store strings with **single or double quotes**. There is no difference.

In [ ]:
a = 'hello world!'
print (a)
print (a[1:3])

In [24]:
# multiline strings are very handy

sql = """
SELECT COUNT(*)
FROM table1
WHERE x > 0
"""

print (sql)

SELECT COUNT(*)
FROM table1
WHERE x > 0

In [ ]:
#Now you try! Make some strings and watch what the results are.

### 3.2 - Joining Strings

In [25]:
s1 = "hello"
s2 = 'world'

s3 = s1 + s2
print (s3)

helloworld

In [ ]:
## TODO: Now add a space between these two words
s3 = s1 + ??? + s2
print (s3)

In [27]:
# You can print like this too

print ("s1:", s1 , ", s2:", s2)

s1: hello , s2: world

### 3.3 - String Format

[Good reference](https://realpython.com/python-string-formatting/)

#### `str.format` function

Very handy

In [29]:
name = 'John'
age = 40

print ("Hello {}".format(name))
print ("{} is {} years old".format (name, age))

Hello John
John is 40 years old

In [ ]:
## TODO: Define another variable 'city'
## And print  "John is 40 years old and lives in San Jose"

#### `f-strings`

This is very handy as well.  We can use variables within strings!

In [31]:
# Note, strings have to start with f

name = 'John'
age = 40

print (f'Hello {name}')
print (f'{name} is {age} years old')

Hello John
John is 40 years old

In [ ]:
## TODO: Define another variable 'city'
## And print  "John is 40 years old and lives in San Jose"

## 4 - Type Conversion

In [5]:
s1 = "8"
print (s1)
print (type(s1))  # should be str

8
<class 'str'>

In [4]:
## Now let's convert it into a number
a = int(s1)
print (a)
print (type(a))

8
<class 'int'>

In [7]:
## What happens here
b = int(3.14)
print (b)
print (type(b))

3
<class 'int'>

## 5 - Formatting Numbers

Use `format` function. Here are some use cases

### 5.1 Formatting Integers

In [10]:
# format with thousand seperator

print ('{:,}'.format(123))
print ('{:,}'.format(1234))
print ('{:,}'.format(123456789))

123
1,234
123,456,789

### 5.2 - Formatting Floats

In [19]:
# Print to certain decimal places
import math

# print the whole PI
print (math.pi)

# only 3 decimal places
print ('{:.3f}'.format (math.pi))

# only 1 decimal places
print ('{:.1f}'.format (math.pi))

# only no decimal places
print ('{:.0f}'.format (math.pi))

3.141592653589793
3.142
3.1
3

### 5.3 - Combine both

In [21]:
n = 13456789.54321

print ('{:,.2f}'.format(n))

13,456,789.54

In [23]:
## TODO: Just print the above as a whole number without decimal points

### ???