# Explore House Sales Data

Let's explore the house sales data.

## Read and Display data

In [5]:
import os
import urllib.request

data_location = "../data/house-sales-simplified.csv"
# data_url = 'https://elephantscale-public.s3.amazonaws.com/data/house-prices/house-sales-simplified.csv'
# data_location = 'https://raw.githubusercontent.com/elephantscale/datasets/master/house-prices/house-sales-simplified.csv'
data_url = 'https://raw.githubusercontent.com/elephantscale/datasets/master/house-prices/house-sales-simplified.csv'

if not os.path.exists (data_location):
    data_location = os.path.basename(data_location)
    if not os.path.exists(data_location):
        print("Downloading : ", data_url)
        urllib.request.urlretrieve(data_url, data_location)
print('data_location:', data_location)

data_location: ../data/house-sales-simplified.csv

In [6]:
import numpy as np
import pandas as pd

house_prices = pd.read_csv(data_location)
house_prices

,ID,Date,SalePrice,PropertyID,PropertyType,Bedrooms,Bathrooms,SqFtTotLiving,SqFtLot,YrBuilt,ZipCode
0,1,9/16/14,280000,1000102,Multiplex,6,3.00,2400,9373,1991,98002
1,2,6/16/06,1000000,1200013,Single Family,4,3.75,3764,20156,2005,98166
2,3,1/29/07,745000,1200019,Single Family,4,1.75,2060,26036,1947,98166
3,4,2/25/08,425000,2800016,Single Family,5,3.75,3200,8618,1966,98168
4,5,3/29/13,240000,2800024,Single Family,4,1.75,1720,8620,1948,98168
...,...,...,...,...,...,...,...,...,...,...,...
27058,27059,10/31/12,374000,9895000030,Townhouse,2,1.75,1410,1161,2011,-1
27059,27060,12/7/12,374000,9895000040,Townhouse,2,1.75,1410,1005,2011,-1
27060,27061,7/9/12,165000,9899200010,Single Family,4,1.00,1070,11170,1971,98055
27061,27062,5/26/06,315000,9900000355,Single Family,3,2.00,1345,6223,1939,98166
27062,27063,1/9/07,465000,9906000035,Single Family,3,1.50,790,4400,1928,98103

## 'Summary' of data

Do you detect any outliers in the describe output below?   
Hint : what is the largest number of bedrooms?  
Any other outliers?

In [ ]:
pd.options.display.float_format = '{:,.2f}'.format

## TODO : use 'describe' function
house_prices.???()

## Get an idea of one attribute

In [ ]:
## TODO : use describe on one column
## Hint : 'SalePrice'

house_prices[["???"]].describe()

## Report on Bedrooms vs Sales
Let's calculte sales per bedrooms

In [ ]:
## TODO : find sales by bedrooms
## Hint : group by 'Bedrooms'
bedroom_sales = house_prices.groupby("???").size()
bedroom_sales

In [ ]:
## TODO: order by count top to bottom
bedroom_sales.sort_values(ascending=False)

## Filter Out Outliers
Let's remove entries with more than 6 bedrooms.

In [ ]:
filtered = house_prices.loc [house_prices['Bedrooms'] < 6]
print ('total records : ', house_prices.shape)
print ('filtered records :', filtered.shape)
filtered

In [ ]:
## TODO : Filter houses under 5 bedrooms and less than 3 bathrooms

filtered2 = house_prices.loc  [ (house_prices['???'] < 5) &
                                (house_prices['???'] < 3)]
filtered2

## Calculate some percentiles

In [ ]:
percentiles = (0.25, 0.5, 0.75, 0.9, 0.95)
prices = house_prices['SalePrice'].quantile(percentiles)

print(percentiles)
print(prices)

# get a Pandas dataframe for pretty print
percentile_pricing_df = pd.DataFrame({"percentile": percentiles, "price": prices} )
percentile_pricing_df

## Correlation Matrix

Q1 : Which attributes influences sale price more?  
- Number of Bedrooms ("Bedrooms")
- or size of the home ("SqFtTotLiving")

Hint : calculate Correlation  df.corr()

**Q=> Can you explain the result**

In [ ]:
## TODO :  calculate correlation matrix
## HInt : use 'corr' function
## Can you interpret the matrix?

house_prices.???()

**==> Visualize correlation matrix**

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

f, ax = plt.subplots(figsize=(10, 10))
sns.heatmap(house_prices.corr(),   vmax=1, # xticklabels=corr.columns,  yticklabels=corr.columns,
            cmap='coolwarm', annot=True, annot_kws={'size': 10})
# cmap = RdBu,  coolwarm, coolwarm_r , rocket, rocket_r, flare, flare_r
# play with color palettes here : https://seaborn.pydata.org/tutorial/color_palettes.html

## Bonus Lab : Find the most expensive zip codes
We have data from many zip codes.  
To find the most expensive zip code, let's first calculate  **price per sqft**

In [ ]:
## Step 1 : calculate price per sqft
## TODO : do the math, divide  house_prices['SalePrice'] by  house_prices['SqFtTotLiving']
house_prices['price_per_sqft'] = house_prices['???'] / house_prices['???']
house_prices

In [ ]:
## TODO : Group data by zipcode and take the avg of price_per_sqft
## Hint : groupby('ZipCode')
zipcode_avg_price  = house_prices.groupby('???')['ZipCode', 'price_per_sqft'].mean()
zipcode_avg_price

In [ ]:
## Sort by 'price_per_sqft'. show top-10 zipcodes
zipcode_avg_price['price_per_sqft'].nlargest(10)